@using HospitalManagement.Models;
@{
    ViewBag.Title = "Dashboard";
}
<style>

    .pieChartDiv{
        margin-left: 30px;
    }
    .card-counter {
        box-shadow: 2px 2px 10px #6b6b5f;
        margin: 5px;
        padding: 20px 10px;
        background-color: #fff;
        height: 100px;
        border-radius: 10px;
        transition: .3s linear all;
        position: relative;
    }


    .anchor a:hover {
        color: red;
        text-decoration: none;
    }


    .card-counter:hover {
        box-shadow: 4px 4px 20px #DADADA;
        transition: .3s linear all;
    }

    .card-counter.primary {
        background-color: #007bff;
        color: #FFF;
    }

    .card-counter.danger {
        background-color: #ef5350;
        color: #FFF;
    }

    .card-counter.success {
        background-color: #66bb6a;
        color: #FFF;
    }

    .card-counter.info {
        background-color: #26c6da;
        color: #FFF;
    }

    .card-counter i {
        font-size: 5em;
        opacity: 0.2;
    }

    .card-counter .count-numbers {
        position: absolute;
        right: 35px;
        top: 20px;
        font-size: 32px;
        display: block;
    }

    .card-counter .count-name {
        position: absolute;
        right: 35px;
        top: 65px;
        font-style: italic;
        text-transform: capitalize;
        opacity: 0.5;
        display: block;
        font-size: 18px;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="card-counter primary">
                <i class="fa fa-users"></i>
                @{
                    int str1 = 0;
                }
                @{
                    str1 = Convert.ToInt32(Helper.TotalCount());

                }
                <span class="count-numbers">@str1</span>
                <span class="count-name">Total Patients</span>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="card-counter danger">
                <i class="fa fa-user-md"></i>
                @{
                    int activePat = 0;
                }
                @{
                    activePat = Convert.ToInt32(Helper.ActiveTotalCount());

                }
                <span class="count-numbers">@activePat</span>
                <span class="count-name">Active Patients</span>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="card-counter success">
                <i class="fa fa-heartbeat"></i>

                @{
                    int inActivePat = 0;
                }
                @{
                    inActivePat = Convert.ToInt32(Helper.InactiveTotalCount());

                }
                <span class="count-numbers">@inActivePat</span>
                <span class="count-name">Discharged Patient</span>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="card-counter info">
                <i class="fa fa-users"></i>
                @{
                    int todayAdmit = 0;
                }
                @{
                    todayAdmit = Convert.ToInt32(Helper.TodayAdmitCount());

                }
                <span class="count-numbers">@todayAdmit</span>
                <span class="count-name">Today Admit</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="card-counter danger">
                <a href="@Url.Action("Create","Patient")"><i class="fa fa-users"></i>Add New Patient</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="card-counter primary">
                <a href="@Url.Action("Index","Patient")"><i class="fa fa-user-md"></i>List ALL</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="card-counter info">
                <a href="@Url.Action("ActiveList","Patient")"><i class="fa fa-heartbeat"></i>List By Active</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="card-counter success">
                <a href="@Url.Action("DischargedList","Patient")"><i class="fa fa-users"></i>List By Discharged</a>
            </div>
        </div>

    </div>

    @*<div class="row">
        <div class="col-md-6">
            <div id="piechart_div"></div>
        </div>
        <div class="col-md-6">
            
            <div id="columnchart_div">
                
            </div>
        </div>
    </div>*@

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary" style="height:95%;">
            <div class="panel-heading">
                Patient Record
            </div>
            <div class="panel-body">
                @*<div class="row form-group">
                    <div class="col-md-6">
                        <select name="disabledSelect" id="markingYear" autocomplete="name" class="form-control">
                            <option value="">Year </option>
                            <option value="2">2017</option>
                            <option value="3">2018</option>
                            <option value="4">2019</option>
                        </select>
                    </div>

                </div>*@
                <div id="piechart_div" class="pieChartDiv"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary" style="height:95%;">
            <div class="panel-heading">
                Patient Record
            </div>
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-md-6">
                        <select name="disabledSelect" id="selectedOption" onchange="(" autocomplete="name" class="form-control">
                            <option disabled value="1">Select </option>
                            <option value="2">1 Day Ago</option>
                            <option value="3">2 Days Ago </option>
                            <option value="4">1 Week Ago</option>
                        </select>
                    </div>

                </div>
                <div id="columnchart_div" class="pieChartDiv"></div>
            </div>
        </div>
    </div>
</div>

</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("PieChart", "Patient")',
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart(result);
                    });
                }
            });
        });

        function drawChart(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Name');

            data.addColumn('number', 'Total Record');
            var dataArray = [];

            $.each(result, function (i, obj) {
                dataArray.push([obj.Name, obj.TotalRecord]);
            });
            data.addRows(dataArray);

            var columnChartOptions = {
                title: "Patient Status Record",
                width: 500,
                height: 250,
                backgroundColor: {
                    fill: '#ffff',
                    fillOpacity: 0.8
                },
                is3D: false,
                bar: { groupWidth: "100%" },
            };

            var columnChart = new google.visualization.PieChart(document
                .getElementById('piechart_div'));

            columnChart.draw(data, columnChartOptions);
        }
</script>

<script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("BarChart", "patient")',
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawbarChart(result);
                    });
                }
            });
        });

        function drawbarChart(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Name');
            data.addColumn('number', 'Total COunt');
            var dataArray = [];

            $.each(result, function (i, obj) {
                dataArray.push([obj.Name, obj.TotalRecord]);
            });
            data.addRows(dataArray);

            var columnChartOptions = {
                title: "Patient Record of Today ",
                width: 500,
                height: 200,
                bar: { groupWidth: "20%" },
            };

            var columnChart = new google.visualization.ColumnChart(document
                .getElementById('columnchart_div'));

            columnChart.draw(data, columnChartOptions);
        }

    $(document).ready(function () {
        $("#selectedOption").on("change", function () {
            $.ajax(
                {
                    //url: '/Patient/GetPatientByDate?Date=' + $(this).find("option:selected").val(),
                    //type: 'GET',
                    //data: "",
                    //contentType: 'application/json; charset=utf-8',
                    //success: function (data) {
                    //    google.charts.load('current', {
                    //        'packages': ['corechart']
                    //    });
                    //    google.charts.setOnLoadCallback(function () {
                    //        drawbarChart(result);
                    //    });
                    //},
                    //error: function () {
                    //    alert("error");
                    //}

                type: "GET",
                dataType: "json",
                contentType: "application/json",
                url: '/Patient/GetPatientByDate?Date=' + $(this).find("option:selected").val(),
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawbarChart(result);
                    });
                }
                });
        });
    });

</script>